[submodule "externals/MouseBuddy"]
	path = externals/MouseBuddy
	url = git@github.com:dmanning23/MouseBuddy.git
[submodule "externals/BasicPrimitiveBuddy"]
	path = externals/BasicPrimitiveBuddy
	url = git@github.com:dmanning23/BasicPrimitiveBuddy.git
[submodule "externals/StateMachine"]
	path = externals/StateMachine
	url = git@github.com:dmanning23/StateMachine.git
[submodule "externals/Filename"]
	path = externals/Filename
	url = git@github.com:dmanning23/Filename.git
